site_name: Arcane Grimoire Docs
site_description: Documentation portal
site_url: https://docs.arcanegrimoire.com

theme:
  name: material
  palette:
    # Dark mode by default
    - scheme: slate
      primary: deep purple
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: deep purple
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - minify:
      minify_html: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

nav:
  - Home: index.md
  - VTT Remote:
      - Overview: vtt-remote/index.md
      - Getting Started:
          - Installation: vtt-remote/getting-started/installation.md
          - Quick Start: vtt-remote/getting-started/quickstart.md
      - User Guide:
          - Phone Client: vtt-remote/guide/phone-client.md
          - Foundry Module: vtt-remote/guide/foundry-module.md
      - Development:
          - Architecture: vtt-remote/development/architecture.md
          - Contributing: vtt-remote/development/contributing.md
      - API Reference:
          - WebSocket Protocol: vtt-remote/api/websocket.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/sam-phinizy/vtt-remote

copyright: Copyright &copy; 2024 VTT Remote
